<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /arq/
    
    # Handle React Router Routes
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /arq/index.html [L]
</IfModule>
